<div class="container">
  <div class="row">
    <div class="col-12 text-center my-2">
      <h3>Citas para el día de hoy</h3>
    </div>
    <div class="col-12 total">
      <p>Total: {{ dates.length }}</p>
    </div>
    <table class="table table-bordered table-hover text-center table-striped">
      <thead class="thead-dark text-center">
        <tr>
          <th>#</th>
          <th>Usuario</th>
          <th>Sede</th>
          <th>Día</th>
          <th>Hora</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dates; let i = index" class="text-center">
          <th>{{ i + 1 }}</th>
          <td>{{ item.iden }}</td>
          <td>{{ item.campus }}</td>
          <td>{{ item.days }}</td>
          <td>{{ item.hours }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
