<div class="d-flex">
  <div id="sidebar-container" class="bg-primary">
    <div class="logo">
      <h4 class="text-light font-weight-bold">Futboleros</h4>
    </div>
    <div class="menu">
      <a href="#" class="d-block text-light p-3"
        ><i class="icon ion-md-apps mr-2 lead"></i>Dashboard</a
      >
      <a href="#" class="d-block text-light p-3"
        ><i class="icon ion-md-people mr-2 lead"></i>Users</a
      >
      <a href="#" class="d-block text-light p-3"
        ><i class="icon ion-md-stats mr-2 lead"></i>Statics</a
      >
      <a href="#" class="d-block text-light p-3"
        ><i class="icon ion-md-person mr-2 lead"></i>Profile</a
      >
      <a href="#" class="d-block text-light p-3"
        ><i class="icon ion-md-settings mr-2 lead"></i>Settings</a
      >
    </div>
  </div>

  <div class="w-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <form class="form-inline position-relative my-2 d-inline-block">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-search position-absolute" type="submit">
            <i class="icon ion-md-search"></i>
          </button>
        </form>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img
                  src="assets/img/user-1.png"
                  alt=""
                  class="img-fluid rounded-circle avatar mr2"
                />
                Gilbert Gamboa
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">My Profile</a>
                <a class="dropdown-item" href="#">Subscription</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Close Session</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="content">
      <section class="py-3">
        <div class="row">
          <div class="col-lg-9">
            <h1 class="font-weight-bold mb-0">Welcome Gilbert</h1>
            <p class="lead text-muted">Review the last version</p>
          </div>
          <div class="col-lg-3 d-flex">
            <button class="btn btn-primary w-100 align-self-center">
              Download report
            </button>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
