<div class="container">
  <div class="row">
    <div class="col-12">
      <section class="py-3">
        <div class="card m-3">
          <h5 class="card-header text-center">Reserve su cita</h5>
          <div class="card-body">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="form-inline">
                <div class="form-group col-xs-12 col-sm-3 col-lg-3">
                  <label for="iden">Cédula</label>
                  <input
                    type="text"
                    inputmode="numeric"
                    onkeypress="return (event.charCode>=48 && event.charCode<=57) || event.charCode==0"
                    formControlName="iden"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.iden.errors }"
                  />
                  <div
                    *ngIf="submitted && f.iden.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.iden.errors.required">
                      Cédula es requerida
                    </div>
                  </div>
                </div>
                <div class="form-group col-xs-12 col-sm-3 col-lg-3">
                  <label for="campus">Sede</label>
                  <select
                    formControlName="campus"
                    class="form-control"
                    id="campus"
                  >
                    <option
                      *ngFor="let campu of campus; let i = index"
                      [value]="campus[i].id"
                    >
                      {{ campu.desc }}
                    </option>
                  </select>
                </div>
                <div class="form-group col-xs-12 col-sm-3 col-lg-3">
                  <label for="days">Día</label>
                  <select formControlName="days" class="form-control" id="days">
                    <option
                      *ngFor="let day of days; let i = index"
                      [value]="days[i].id"
                    >
                      {{ day.desc }}
                    </option>
                  </select>
                </div>
                <div class="form-group col-xs-12 col-sm-3 col-lg-3">
                  <label for="hours">Grupo (Hora)</label>
                  <select
                    formControlName="hours"
                    class="form-control"
                    id="hours"
                  >
                    <option
                      *ngFor="let hour of hours; let i = index"
                      [value]="hours[i].id"
                    >
                      {{ hour.group }} - {{ hour.desc }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="text-center">
                <button class="btn btn-primary mr-1">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </section>
      <section class="py-3 text-center">
        <img src="assets/img/thegym.png" alt="" width="150px" height="150px" />
      </section>
    </div>
  </div>
</div>
