<div class="container">
  <div class="row">
    <div class="col-12">
      <section>
        <div class="card m-3">
          <h5 class="card-header text-center">Reserve su cita</h5>
          <div class="card-body">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="form-row">
                <div class="col-md-3 mb-3">
                  <label for="iden">Cédula</label>
                  <input
                    type="text"
                    inputmode="numeric"
                    onkeypress="return (event.charCode>=48 && event.charCode<=57) || event.charCode==0"
                    (blur)="loadDates($event.target.value)"
                    formControlName="iden"
                    class="form-control"
                    maxlength="15"
                    placeholder="Cédula"
                    [ngClass]="{ 'is-invalid': submitted && f.iden.errors }"
                  />
                  <div
                    *ngIf="submitted && f.iden.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.iden.errors.required">
                      Digite su cédula
                    </div>
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="campus">Sede</label>
                  <select
                    formControlName="campus"
                    class="form-control"
                    id="campus"
                    [ngClass]="{
                      'is-invalid': submitted && f.campus.errors
                    }"
                  >
                    <option
                      *ngFor="let campu of campus; let i = index"
                      [value]="campus[i].desc"
                    >
                      {{ campu.desc }}
                    </option>
                  </select>
                  <div
                    *ngIf="submitted && f.campus.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.campus.errors.required">
                      Seleccione la sede.
                    </div>
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="days">Día</label>
                  <select formControlName="days" class="form-control" id="days">
                    <option
                      *ngFor="let day of days; let i = index"
                      [value]="days[i].desc"
                    >
                      {{ day.desc }}
                    </option>
                  </select>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="hours">Grupo (Hora)</label>
                  <select
                    formControlName="hours"
                    class="form-control"
                    id="hours"
                    [ngClass]="{
                      'is-invalid': submitted && f.hours.errors
                    }"
                  >
                    <option
                      *ngFor="let hour of hours; let i = index"
                      [value]="hours[i].desc"
                    >
                      {{ hour.group }} - {{ hour.desc }}
                    </option>
                  </select>
                  <div
                    *ngIf="submitted && f.hours.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.hours.errors.required">
                      Seleccione la hora.
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button class="btn btn-primary mr-1" *ngIf="showBTNSave">
                  Guardar
                </button>
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="!showBTNSave"
                >
                  Ud. ya tiene una cita. Favor elimínela para crear otra.
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
      <section>
        <div class="col-12 text-center my-2">
          <h3>Mi cita actual</h3>
        </div>

        <div style="width: 100%; height: 100%; overflow-x: scroll;">
          <div class="col-12 my-4">
            <table
              class="table table-bordered table-hover text-center table-striped"
            >
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Usuario</th>
                  <th scope="col">Sede</th>
                  <th scope="col">Día</th>
                  <th scope="col">Hora</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dates">
                  <td>{{ item.iden }}</td>
                  <td>{{ item.campus }}</td>
                  <td>{{ item.days }}</td>
                  <td>{{ item.hours }}</td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="deleteDate(item.id)"
                    >
                      Eliminar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
      <section class="py-3 text-center">
        <img src="assets/img/thegym.png" alt="" width="150px" height="150px" />
        <h6 class="text-center bold my-0">Desarrollado por</h6>
        <a
          href="https://www.linkedin.com/in/gilbertgamboaa/"
          class="fa fa-linkedin"
        ></a
        >Gilbert Gamboa
        <a
          href="https://cr.linkedin.com/in/carlos-tony-rodr%C3%ADguez-reyes-b79b3b180"
          class="fa fa-linkedin"
        ></a
        >Tony Rodríguez
      </section>
    </div>
  </div>
</div>
