<div class="d-flex">
  <div id="sidebar-container" class="bg-primary">
    <div class="logo">
      <h4 class="text-light font-weight-bold text-uppercase">The Gym</h4>
    </div>
    <div class="menu">
      <a href="#" class="d-block text-light p-3" routerLink="/"
        ><i class="icon ion-md-apps mr-2 lead"></i>Reservar</a
      >
      <a href="#" class="d-block text-light p-3" routerLink="/dates"
        ><i class="icon ion-md-person mr-2 lead"></i>Citas</a
      >
    </div>
  </div>
  <div class="container">
    <router-outlet> </router-outlet>
  </div>
</div>
