.bg-primary {
  background-color: var(--primary) !important;
}
.bg-light {
  background-color: var(--light) !important;
}
.btn {
  border: 0;
}
.btn-primary {
  background-color: var(--primary) !important;
}
.btn-primary:hover {
  background-color: var(--primary) !important;
}
a:hover {
  text-decoration: none;
  color: white !important;
  font-weight: bold;
  font-size: 25px !important;
}
#sidebar-container {
  min-height: 100vh;
}
#sidebar-container .logo {
  padding: 0.875rem 1.25rem;
}
#sidebar-container .menu {
  width: 12rem;
}
.btn-search {
  right: 5px;
}
.avatar {
  max-width: 35px;
}
